.bttn-grp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 1.5rem;
}

.title {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  text-decoration: none;

  &:visited {
    color: var(--link-color); /* Don't change the visited title link */
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }

  strong {
    font-weight: 500;
  }
}

.profile-icon {
  padding: .5rem;
  border-radius: 50%;
  background-color: var(--white);

  img {
    inline-size: 2rem;
    block-size: 2rem;
    margin-block: -2px 2px; /* Center the image better inside the wrapper */
  }
}

@media only screen and (width >= 42em) {
  .site-nav {
    position: relative;
    margin-block-end: 1rem;
  }

  .bttn-grp {
    position: absolute;
    z-index: var(--z-dropdown);
    inset-block-start: 0;
    inset-inline-end: 0;

    flex-flow: row wrap;

    margin-block: 0;

    &:has([open]) {
      flex-direction: column;
    }

    .bttn[open],
    summary {
      text-wrap: balance;
      background-color: var(--surface-0);
    }
  }
}

@media only screen and (width >= 64em) {
  .bttn-grp {
    inset-inline-start: 18rem;

    &:has([open]) {
      flex-direction: row;
    }
  }
}
