/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import url('./typography.css');

:root {
  /* Fonts  */
  --heading-font: ubuntu, helvetica, sans-serif;
  --text-font: roboto, 'Helvetica Neue', sans-serif;

  /* Colors */
  --black: oklch(0% 0 0deg);
  --blue-dark: oklch(31.8% .176 265.86deg);
  --blue-light: oklch(86% .0662 253.44deg);
  --blue-prussian: oklch(32.9% .0645 237.5deg); /* prussian blue */
  --blue-sky: oklch(81.75% .10298 235.73deg); /* day sky blue */
  --cyan: oklch(90% .1576 186.2597deg); /* aqua */
  --gray-dark: oklch(39% .005 300deg);
  --gray-darker: oklch(8% 0 0deg);
  --gray-lavender: oklch(90% .061 309.7deg);
  --gray-light: oklch(94% 0 0deg);
  --green-dark: oklch(29.4% .0906 128.66deg);
  --green-ever: oklch(34.118% .05975 186.34deg); /* evergreen */
  --green-leaf: oklch(65.8% .153 128.79deg);
  --purple-dark: oklch(31.2% .0773 320.43deg);
  --purple-darker: oklch(20% .0988 323.6262deg);
  --purple: oklch(60.5% .118 324.2deg);
  --red-burgundy: oklch(31.8% .12695 29.762deg); /* dark burgundy */
  --red-dark: oklch(30.5% .123 31.511deg);
  --red-salmon: oklch(73.819% .16112 32.481deg);
  --white: oklch(100% 0 0deg);
  --yellow-dark: oklch(47.312% .09202 88.276deg);
  --yellow: oklch(86.448% .15978 95.866deg);

  /* Content Styles */
  --surface-0: var(--gray-dark);
  --text-primary: var(--white);
  --text-secondary: var(--gray-light);
  --text-selection-bg: var(--blue-light);
  --text-selection-fg: var(--gray-darker);

  /* Link Styles */
  --link-color-interaction: var(--cyan);
  --link-color-visited: var(--gray-lavender);
  --link-color: var(--text-secondary);

  /* Common z-index levels */
  --z-modal: 9000;
  --z-overlay: 8000;
  --z-dropdown: 7000;
  --z-header: 6000;
  --z-behind: -1;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  scrollbar-gutter: stable;
  scroll-snap-type: y mandatory;

  font-family: var(--text-font);
  font-size: 1em;
  line-height: 1.4;
  color: var(--text-primary);

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- stylistic change that can be skip in unsupported browsers */
  text-decoration-thickness: 8%; /* Sets the thickness as a percentage of the font size */
  text-underline-offset: 8%; /* Places the underline a bit further below the text. */

  background-color: var(--surface-0);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

/* stylelint-disable-next-line plugin/no-unsupported-browser-features -- stylistic change that can be skip in unsupported browsers */
::selection {
  text-shadow: none;
  background: var(--text-selection-bg);
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;

  block-size: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-block-start: 1px solid var(--text-secondary);
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  /* stylelint-disable-next-line
     plugin/no-unsupported-browser-features
     -- progressive enhancement; acceptable lack of iOS Safari support. */
  resize: block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  @view-transition {
    navigation: auto;
  }

  /* Create a custom animation */
  @keyframes move-out {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes move-in {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  /* Apply the custom animation to the old and new page states */
  ::view-transition-old(root) {
    animation: .4s ease-in both move-out;
  }

  ::view-transition-new(root) {
    animation: .4s ease-in both move-in;
  }
}

a {
  &:link {
    color: var(--link-color);
  }

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover,
  &:active {
    color: var(--link-color-interaction);
  }

  &[target='_blank'] {
    display: inline-flex;
    gap: .25rem;
    align-items: center;

    &::after {
      /* stroke color should be the same as --text-secondary */
      content: url('../assets/external-link.svg');
      block-size: 1rem;
    }
  }
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

summary {
  cursor: pointer; /* These are clicky, so why isn't this the default? */

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- stylistic change that can be skip in unsupported browsers */
  &::marker {
    color: var(--yellow);

    [open] & {
      color: var(--green-leaf);
    }
  }

  &:hover {
    color: var(--link-color-interaction);

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- stylistic change that can be skip in unsupported browsers */
    &::marker {
      color: var(--link-color-interaction);
    }
  }
}

.diminish {
  opacity: .7;
}

.bttn {
  padding: .75rem 1rem;
  border: 2px solid;
  border-radius: 1.5rem;

  /* Details button styles the summary when not opened instead */
  :not([open])& {
    padding: unset;
    border: unset;

    > summary {
      padding: .75rem 1rem;
      border: 2px solid;
      border-radius: 1.5rem;
    }
  }
}

.heading {
  font-family: var(--heading-font); /* All heading content should use heading font */
  font-size: 1.5rem;

  h1 {
    margin-block: 0; /* With the line-height a top margin isn't necessary. */
  }

  p {
    margin-block: 0 1rem; /* Smaller space on the bottom of the banner. */
  }
}

.in-page-nav {
  list-style-image: url('../assets/arrow-down.svg');
}

.link-list li {
  margin-block-start: .5rem;
}

.top-link {
  padding-inline-start: .875rem;

  /* fill color should be the same as --text-secondary */
  background-image: url('../assets/arrow-up.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: .75rem;
}

/* Convert banner and link lists to inline layout. */
@media only screen and (width >= 42em) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;

    footer& {
      align-items: end;
    }
  }

  .link-list {
    margin: 0;
    padding-inline-start: 0;
    white-space: nowrap;
    list-style-type: none;

    li {
      display: inline-block;
      margin-block-start: 0;
      padding-inline: .5rem;
    }
  }
}

@media print, (resolution >= 1.25dppx), (resolution >= 120dpi) {
  /* Style adjustments for high resolution devices */
  dl,
  ol,
  p,
  ul {
    margin-block: 1rem;
    font-size: 1.25rem;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important; /* stylelint-disable-line declaration-no-important -- HTML5 Boilerplate default */
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  position: absolute;

  overflow: hidden;

  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- not using the unsupported features */
  clip-path: inset(100% 100% 100% 100%);

  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;

  overflow: visible;

  inline-size: auto;
  block-size: auto;
  margin: 0;

  white-space: inherit;

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- not using the unsupported features */
  clip-path: none;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  /* stylelint-disable
      declaration-no-important, selector-max-universal, plugin/no-unsupported-browser-features
      -- HTML5 Boilerplate default
  */
  *,
  *::before,
  *::after {
    color: var(--black) !important; /* Black prints faster */
    text-shadow: none !important;
    background: var(--white) !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    break-inside: avoid;
    border: 1px solid var(--gray-dark);
  }

  tr,
  img {
    break-inside: avoid;
  }

  p,
  h2,
  h3 {
    widows: 3;
    orphans: 3;
  }

  h2,
  h3 {
    break-after: avoid;
  }
}
