h1,
h2,
h3 {
  text-transform: uppercase;
}

.subsection {
  /* These link colorw work for most of the sections except for About */
  --link-color-interaction: var(--green-ever);
  --link-color-visited: var(--purple-dark);
  --link-color: var(--blue-dark);

  position: relative;
  padding: 1rem 1rem 2.124rem; /* Space for three dots divider */
  color: var(--subsection-color);
  background-color: var(--subsection-bg-color);

  /* three dots divider https://www.diviguide.com/section-dividers/ */
  &::after {
    content: '';

    position: absolute;
    inset-block-end: 1.25rem; /* Place the dots at the bottom of the .subsection, especially
                                 important when each section is full viewport height. */
    inset-inline-start: 50%; /* Center the dots horizontally */
    transform: translateX(-50%);

    display: block;

    inline-size: 14px;
    block-size: 14px;
    border-radius: 50%;

    background: var(--text-secondary);
    box-shadow: 30px 0 var(--text-secondary), -30px 0 var(--text-secondary);
  }

  &:last-of-type::after {
    content: none;
  }

  h2,
  h3 {
    color: var(--text-primary);
  }
}

#about {
  /* This section doesn't have links, so not adjusting link colors. */
  --subsection-bg-color: var(--purple);
  --subsection-color: var(--purple-darker);
}

#resume {
  --subsection-bg-color: var(--green-leaf);
  --subsection-color: var(--green-dark);
  --link-color-interaction: var(--red-burgundy);

  ol {
    /* List experience in order, but don't display numbers. */
    list-style-type: disc;
  }
}

#projects {
  --subsection-bg-color: var(--yellow);
  --subsection-color: var(--yellow-dark);
}

#tipsntricks {
  --subsection-bg-color: var(--red-salmon);
  --subsection-color: var(--red-dark);
}

#orgs {
  --subsection-bg-color: var(--blue-sky);
  --subsection-color: var(--blue-prussian);

  img {
    inline-size: 100%;
    max-inline-size: 410px;
    block-size: auto;
  }
}

.proj-list dd {
  margin-block-end: 1rem;
}

.close-bttn {
  float: inline-end;
}

/* Add icons to the page navigation links. */
@media only screen and (width >= 42em) {
  body {
    margin: 0;
  }

  .page-nav {
    /*
      Add an animated underline to the navigation items on hover.
      Keep the underline visible for the currently .selected item.
      Not nesting these because of selector complexities. Might be a reason to use SCSS.
     */

    li::after, /* default state of underline */
    &:hover .selected::after /* Reset the selected option when hovering over nav. */ {
      content: '';

      transform: scaleX(0);

      display: block;

      border-block-end: solid 3px var(--gray-light);

      transition: transform 200ms ease-in-out;
    }

    li:hover::after, /* On hover underline. */
    /* stylelint-disable-next-line no-descending-specificity -- Applying the same styles in multiple
        selectors makes this impossible to order without duplicating rules. */
    .selected::after, /* Underline selected option. */
    &:hover .selected:hover::after /* Re-underline if hovering over selected. */ {
      transform: scaleX(1);
    }

    /* Add icons to the links. */
    & a {
      /* Especially when positioned over content the visited color is not always easy to see, plus
          these are fragment links */
      --link-color-visited: var(--link-color);

      display: inline-block;

      padding-block-start: 37px;

      text-decoration: none;

      background-repeat: no-repeat;
      background-position: center top;
      background-size: auto 32px;

      &[href='#about'] {
        background-image: url('../assets/about.svg');
      }

      &[href='#resume'] {
        background-image: url('../assets/resume.svg');
      }

      &[href='#projects'] {
        background-image: url('../assets/projects.svg');
      }

      &[href='#tipsntricks'] {
        background-image: url('../assets/tipsntricks.svg');
      }

      &[href='#orgs'] {
        background-image: url('../assets/orgs.svg');
      }
    }
  }

  .acknowledgements {
    font-size: .8rem;
  }
}

/* Convert the main-header to position fixed when the height is tall enough. */
@media (height >= 64em) {
  html {
    /* nominal height of the main-header */
    scroll-padding-block-start: 7.5rem;
    padding-block-start: 7.5rem;
  }

  .main-header {
    position: fixed;
    z-index: var(--z-header);
    inset-block-start: 0;
    inset-inline: 0;

    background-color: var(--surface-0); /* Match background-color of html */
  }

  .top-link {
    display: none; /* No need for these links as the navigation menu is always visible */
  }
}

@media only screen and (width >= 57em) {
  /* Restore the header to static mode to position the individual elements directly. */
  html {
    scroll-padding-block-start: 0;
    padding-block-start: 0;
  }

  .main-header {
    position: static;
    background-color: transparent;

    .heading {
      position: fixed;
      z-index: var(--z-header);
      inset-block-start: 0;
      inset-inline-start: 10%;
    }

    h1 {
      font-size: 4rem;
    }
  }

  .page-nav {
    position: fixed;
    z-index: var(--z-header);
    inset-block-start: 2rem;
    inset-inline-end: .25rem;

    /* Vertical menu */
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    li {
      position: relative;
      flex: 1 0 max-content;
    }

    li::after, /* default state of sideline */
    &:hover .selected::after /* Reset the selected option when hovering over nav. */ {
      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;
      transform: scaleY(0);

      border-block-end: none; /* Remove the underline */
      border-inline-start: solid 3px var(--text-secondary);
    }

    li:hover::after, /* On hover underline. */
    /* stylelint-disable-next-line no-descending-specificity -- Applying the same styles in multiple
        selectors makes this impossible to order without duplicating rules. */
    .selected::after, /* Sideline selected option. */
    &:hover .selected:hover::after /* Re-sideline if hovering over selected. */ {
      transform: scaleY(1);
    }
  }

  .top-link {
    display: none; /* No need for these links as the navigation menu is always visible */
  }

  /* Make each subsection one viewport tall with space for a background and the nav. */
  .subsection {
    box-sizing: border-box;
    min-block-size: 100vb;
    padding: 3.5rem 10% 2.125rem 50%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 1rem bottom 1rem;

    /*
    Background size is relative to viewport because attachement is fixed.

    This doesn't strech the SVG image because the image has it's own viewBox determining the size.
    So the background 'area' is 45%x67%, but the SVG scales itself to fit within. Which is why it
    sometimes floats above the bottom since the image is added to the top left corner of the
    background area. Is my guess. https://github.com/rgant/rob.gant.ninja/issues/6
    */
    background-size: 45% 67%;
  }

  #about {
    background-image: url('../assets/about.svg');
  }

  #resume {
    background-image: url('../assets/resume.svg');
  }

  #projects {
    background-image: url('../assets/projects.svg');
  }

  #tipsntricks {
    background-image: url('../assets/tipsntricks.svg');
  }

  #orgs {
    background-image: url('../assets/orgs.svg');
  }
}

@media print {
  .subsection {
    min-block-size: 0;
  }

  .top-link {
    display: none;
  }
}

/*
Only when going "to" the home page will you see a magical star wipe transition.

"... hopefully isn’t into star wipes or anything like that."
-- Tina Blecher, Fraud Of The Dead Zombie Docu Pocalypse

"Dad, there are other wipes beside star-wipes.
Why eat hamburger when you can have steak?"
-- Lisa and Homer Simpsons, Alone Again, Natura-diddily
*/
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  @keyframes star-wipe-reveal {
    from {
      mask-composite: intersect;
      mask-image: url('../assets/star.svg');
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: 0% 0%; /* Start invisible */
    }

    to {
      mask-composite: intersect;
      mask-image: url('../assets/star.svg');
      mask-position: center center;
      mask-repeat: no-repeat;
      mask-size: 400% 400%; /* Expand to cover entire page */
    }
  }

  ::view-transition-new(root) {
    animation: star-wipe-reveal .8s cubic-bezier(.25, .46, .45, .94) forwards;
  }
}
