---
import MySiteNav from '~/components/my-site-nav.astro';
import '~/styles/article-header.css';
---
<div class="site-nav">
  <a href="/" class="title" title="Profile">
    <span class="profile-icon"><img src="/icon.svg" alt="J Rob Gant"></span>
    <strong class="heading"><span class="diminish">J</span> Rob <span class="diminish">Gant</span></strong>
  </a>

  <nav aria-label="Global navigation" class="bttn-grp">
    <!-- <details class="bttn">
      <summary>Brainfry project</summary>
      <BrainfryNav />
    </details> -->

    <details class="bttn">
      <summary>My site</summary>
      <MySiteNav />
    </details>

    <!-- <details class="bttn">
      <summary>More Projects</summary>
      <OtherNav />
    </details> -->
  </nav>
</div>

<div class="heading">
  <slot />
</div>
