---
import EndScripts from '~/components/end-scripts.astro';
import Footer from '~/components/footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <Footer>
      <slot name="footer-extra" />
    </Footer>
    <EndScripts />
  </body>
</html>
